{% load static %}
<footer class="mt-auto bg-accent pt-10 pb-16 text-white">
  <div
    class="container space-y-10 sm:grid sm:grid-cols-2 sm:gap-10 sm:space-y-0 md:grid-cols-3 md:gap-y-5 lg:flex lg:justify-between">
    <a href="#top">
      <img src="{% static '/img/logo.svg' %}" alt="Логотип" class="mx-auto w-64 sm:mx-0" />
    </a>
    <nav>
      <ul class="space-y-5">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'products' %}">Продукция</a></li>
        <li><a href="{% url 'objects' %}">Наши объекты</a></li>
        <li><a href="{% url 'contacts' %}">Контакты</a></li>
        <li><a href="{% url 'about' %}">О нас</a></li>
      </ul>
    </nav>
    <div class="space-y-5 sm:text-right md:text-left">
      <h2 class="text-lg font-semibold">Адреса заводов:</h2>
      <ul class="space-y-5 text-sm lg:text-lg">
        <li>г. Ташкент, Бектемирский р-н</li>
        <li>г. Ташкент, Олтинтопган, дом-4</li>
        <li>г. Ташкент, Янгихает, Бинокор КФЙ</li>
      </ul>
    </div>
    <div class="space-y-3 sm:col-start-2 sm:row-start-1 sm:text-right md:row-start-auto md:text-center lg:text-left">
      <h2 class="text-lg font-semibold">Контакты</h2>
      <div>
        <a href="tel:+998946842318" class="text-lg">+998 94 684 23 18</a>
      </div>
      <div class="flex space-x-8 sm:justify-end md:justify-center lg:justify-start">
        <a href="#" class="flex h-8 w-8 items-center justify-center overflow-hidden rounded-full bg-accent-100">
          <img src="{% static '/img/icons/facebook.svg' %}" alt="Facebook" />
        </a>
        <a href="#" class="flex h-8 w-8 items-center justify-center overflow-hidden rounded-full bg-accent-100">
          <img src="{% static '/img/icons/instagram.svg' %}" alt="Instagram" />
        </a>
        <a href="#" class="flex h-8 w-8 items-center justify-center overflow-hidden rounded-full bg-accent-100">
          <img src="{% static '/img/icons/twitter.svg' %}" alt="Twitter" />
        </a>
      </div>
    </div>
  </div>
</footer>