{% extends 'base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static '/css/style.min.css' %}" />
	<title>Central Beton - Продукция</title>
	<script src="{% static '/js/mobile-menu.js' %}" defer></script>
{% endblock %}
{% block content %}
<main>
	<section class="container py-10 md:py-20">
		<!-- <div></div> -->
		<div class="grid gap-5 font-[Gilroy] sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-7">
			<!-- ============================== -->
			<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
				<div class="h-[300px]">
					<picture>
						<source srcset="{% static '/img/products/1.webp' %}" type="image/webp" />
						<img src="{% static '/img/products/1.jpg' %}" alt="Продукция" class="h-full w-full object-cover" />
					</picture>
				</div>
				<div class="mt-auto space-y-2 p-5">
					<h3 class="text-lg font-bold text-black">Краткое описание</h3>
					<p class="text-black opacity-50">Дверь для квартиры</p>
					<div class="text-base md:text-lg">
						<span>1 499 000</span>
						<span>сум</span>
					</div>
					<div class="text-center">
						<a href="{% url 'product' %}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
					</div>
				</div>
			</div>
			<!-- ============================== -->
			<!-- ============================== -->
			<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
				<div class="h-[300px]">
					<picture>
						<source srcset="{% static '/img/products/2.webp' %}" type="image/webp" />
						<img src="{% static '/img/products/2.jpg' %}" alt="Продукция" class="h-full w-full object-cover" />
					</picture>
				</div>
				<div class="mt-auto space-y-2 p-5">
					<h3 class="text-lg font-bold text-black">Краткое описание</h3>
					<p class="text-black opacity-50">Дверь для квартиры</p>
					<div class="text-base md:text-lg">
						<span>1 499 000</span>
						<span>сум</span>
					</div>
					<div class="text-center">
						<a href="{% url 'product' %}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
					</div>
				</div>
			</div>
			<!-- ============================== -->
			<!-- ============================== -->
			<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
				<div class="h-[300px]">
					<picture>
						<source srcset="{% static '/img/products/3.webp' %}" type="image/webp" />
						<img src="{% static '/img/products/3.jpg' %}" alt="Продукция" class="h-full w-full object-cover" />
					</picture>
				</div>
				<div class="mt-auto space-y-2 p-5">
					<h3 class="text-lg font-bold text-black">Краткое описание</h3>
					<p class="text-black opacity-50">Дверь для квартиры</p>
					<div class="text-base md:text-lg">
						<span>1 499 000</span>
						<span>сум</span>
					</div>
					<div class="text-center">
						<a href="{% url 'product' %}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
					</div>
				</div>
			</div>
			<!-- ============================== -->
			<!-- ============================== -->
			<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
				<div class="h-[300px]">
					<picture>
						<source srcset="{% static '/img/products/4.webp' %}" type="image/webp" />
						<img src="{% static '/img/products/4.jpg' %}" alt="Продукция" class="h-full w-full object-cover" />
					</picture>
				</div>
				<div class="mt-auto space-y-2 p-5">
					<h3 class="text-lg font-bold text-black">Краткое описание</h3>
					<p class="text-black opacity-50">Дверь для квартиры</p>
					<div class="text-base md:text-lg">
						<span>1 499 000</span>
						<span>сум</span>
					</div>
					<div class="text-center">
						<a href="{% url 'product' %}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
					</div>
				</div>
			</div>
			<!-- ============================== -->
			<!-- ============================== -->
			<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
				<div class="h-[300px]">
					<picture>
						<source srcset="{% static '/img/products/1.webp' %}" type="image/webp" />
						<img src="{% static '/img/products/1.jpg' %}" alt="Продукция" class="h-full w-full object-cover" />
					</picture>
				</div>
				<div class="mt-auto space-y-2 p-5">
					<h3 class="text-lg font-bold text-black">Краткое описание</h3>
					<p class="text-black opacity-50">Дверь для квартиры</p>
					<div class="text-base md:text-lg">
						<span>1 499 000</span>
						<span>сум</span>
					</div>
					<div class="text-center">
						<a href="{% url 'product' %}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
					</div>
				</div>
			</div>
			<!-- ============================== -->
			<!-- ============================== -->
			<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
				<div class="h-[300px]">
					<picture>
						<source srcset="{% static '/img/products/2.webp' %}" type="image/webp" />
						<img src="{% static '/img/products/2.jpg' %}" alt="Продукция" class="h-full w-full object-cover" />
					</picture>
				</div>
				<div class="mt-auto space-y-2 p-5">
					<h3 class="text-lg font-bold text-black">Краткое описание</h3>
					<p class="text-black opacity-50">Дверь для квартиры</p>
					<div class="text-base md:text-lg">
						<span>1 499 000</span>
						<span>сум</span>
					</div>
					<div class="text-center">
						<a href="{% url 'product' %}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
					</div>
				</div>
			</div>
			<!-- ============================== -->
			<!-- ============================== -->
			<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
				<div class="h-[300px]">
					<picture>
						<source srcset="{% static '/img/products/3.webp' %}" type="image/webp" />
						<img src="{% static '/img/products/3.jpg' %}" alt="Продукция" class="h-full w-full object-cover" />
					</picture>
				</div>
				<div class="mt-auto space-y-2 p-5">
					<h3 class="text-lg font-bold text-black">Краткое описание</h3>
					<p class="text-black opacity-50">Дверь для квартиры</p>
					<div class="text-base md:text-lg">
						<span>1 499 000</span>
						<span>сум</span>
					</div>
					<div class="text-center">
						<a href="{% url 'product' %}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
					</div>
				</div>
			</div>
			<!-- ============================== -->
			<!-- ============================== -->
			<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
				<div class="h-[300px]">
					<picture>
						<source srcset="{% static '/img/products/4.webp' %}" type="image/webp" />
						<img src="{% static '/img/products/4.jpg' %}" alt="Продукция" class="h-full w-full object-cover" />
					</picture>
				</div>
				<div class="mt-auto space-y-2 p-5">
					<h3 class="text-lg font-bold text-black">Краткое описание</h3>
					<p class="text-black opacity-50">Дверь для квартиры</p>
					<div class="text-base md:text-lg">
						<span>1 499 000</span>
						<span>сум</span>
					</div>
					<div class="text-center">
						<a href="{% url 'product' %}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
					</div>
				</div>
			</div>
			<!-- ============================== -->
		</div>
	</section>
</main>
{% endblock %}