{% extends 'base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static '/css/style.min.css' %}" />
	<title>Central Beton - Продукция</title>
	<script src="{% static '/js/mobile-menu.js' %}" defer></script>
{% endblock %}
{% block content %}
<main>
	<section class="container py-10 md:py-20">
		<!-- <div></div> -->
		<div class="grid gap-5 font-[Gilroy] sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-7">
			<!-- ============================== -->
			{% for product in products %}
					<div class="flex h-[500px] flex-col overflow-hidden rounded-xl bg-white shadow-sm sm:w-full md:rounded-none xl:w-[287px]">
					<div class="h-[300px]">
						<picture>
							<source srcset="{{ product.pic.url }}" type="image/webp" />
							<img src="{{ product.pic.url }}" alt="Продукция" class="h-full w-full object-cover" />
						</picture>
					</div>
					<div class="mt-auto space-y-2 p-5">
						<h3 class="text-lg font-bold text-black">{{ product.little_desc }}</h3>
						<p class="text-black opacity-50">{{ product.title }}</p>
						<div class="text-base md:text-lg">
							<span>{{ product.price }}</span>
							<span>сум</span>
						</div>
						<div class="text-center">
							<a href="{{ product.get_url }}" class="inline-block rounded-full border-2 border-black px-10 py-3 text-lg font-bold text-black">Подробнее</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</main>
{% endblock %}